[Desktop Entry]
Type=Application
Name=Nox Imperii
GenericName=Nox Imperii
Comment=2D action/rpg space trading combat game
Icon=noximperii
Exec=Nox Imperii
Categories=Game;AdventureGame;
Terminal=false
Keywords=2D;action;rpg;space;trading;combat;game;
